* {
    margin: 0;

}

body {
    /* background-color: rgb(239, 231, 231); */
    /* background-color: #242424; */
    background-color: #d7d2cc;


}

.logo {
    background-image: url("WhatsApp\ Image\ 2023-05-31\ at\ 13.50.49.jpg");
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding: 10px 200px;
    display: flex;
    
    justify-content: space-between;
    filter: drop-shadow(2px -2px 10px black);
    font-family: "Tektur";
   


}

.links {
    list-style: none;
    display: flex;
}
.line1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-transform: uppercase;

}

.links a {
    text-decoration: none;
    color: white;

}

.li {
    padding: 20px;
    font-size: 1.25rem;
}

.header {
    /* width: 100%; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    /* background-color: beige; */

    padding: 10px 450px;

}

.top-container {
    /* background-image: url("2875129592.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
    scroll-behavior: smooth;
}

.box,
.text {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;    
    padding: 10px;
    animation: "Lightspeed";
    animation-duration: 0.8s;
    transition: 0.5s;

}
.box2{
    outline: 2px solid white;
   filter: drop-shadow(3px 3px 2px black);

}

.expertise {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    height: 720px;
    background-color: rgb(0, 0, 0);

}

.container {
    padding: 10px 200px;

}

.languages {
    display: flex;
    justify-content: center;
}

.images {

    width: 80px;
    height: 80px;
    padding: 50px;
}

.skills {
    /* padding: 50px; */
    margin-top: 100px;
    padding: 20px;
    display: flex;
    color: rgb(49, 47, 47);
    justify-content: space-between;
    animation: "pulse";
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    transform: 0.5s;
    background-color: #d7d2cc;

}

.top-statement {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.box {

    padding: 20px;
    outline: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px black;
   
} */
.skil1,
.skil2 {
    border-right: 2px solid black;
}

.skills {
    /* box-shadow: 5px 5px 20px 10px purple; */
    filter: drop-shadow(0px 0px 50px purple);

}

.projects {
    padding: 10px 150px;
    /* box-shadow: 5px 5px 20px 2px black; */
    filter: drop-shadow(10px 10px 2px black);


}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 150px;
    width: 550px;


}





.project-container {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: space-between;


}


.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


}

.starbucks {
    background-image: url(starbucks.png);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10PX;
}

.amazon {
    background-image: url(depressed\ right\ tri.png);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.coffee {
    background-image: url(coffee.png);
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    background-color: black;
    color: white;
    opacity: 0;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    border-radius: 20px;
    transition: 0.5s;
}

.body:hover {
    background-color: black;
    color: white;
    opacity: 0.8;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    border-radius: 20px;
    transition: 0.5s;

}

.project {
    padding: 20px;
    margin: 5px;
}

button {
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: none;

    background-color: yellow;

}

button a {
    text-decoration: none;
    color: black;
}

.conatct-section {
    margin: 0px 150px;
    border-radius: 10px;
    background-color: #d7d2cc;

    padding: 50px 0px;
    box-shadow: 0px 0px 10px black;
    /* transform: scaleZ(1.5); */
    transform: translateZ(5px);
}

.socials,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.socials li {
    transition: ease 0.3s;
    list-style: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;


}

.socials a {
    text-decoration: none;
    color: black;
    transition: ease 0.3s;
    border-radius: 20px;

}

.socials li :hover {
    text-decoration: none;
    font-size: 1.5rem;
    transition: ease 0.3s;
    box-shadow: 0px 0px 20px black;
    padding: 10px;

}